* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.linea1 {
    font-size: 400px;
}


.seccion_menu h1 {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 14px;
    background-color: transparent;
}

.seccion_menu {
    height: 300px;
    padding: 12px;
    margin-top: 20px;
    text-align: center;
    background-image: url(Img/R.jpg);
}

.Tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.Letra4 {
    display: block;
    height: 32px;
    line-height: 32px;
    margin-right: 8px;
    margin-bottom: 3px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .06);
    color: #000;
    text-decoration: none;
    padding: 0 8px;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
}


.datos {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.texto {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px 0px 20px;
}

.imagen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.acerca {
    color: white;
    margin-left: 0px;
}

.conteiner {
    display: flex;
}

.cuadro {
    background-color: #5e5e5e;
    padding: 10px;
    width: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: -150px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.dato {
    flex-direction: column;
    background-color: white;
    color: black;
    width: 500px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}


.cuadro .boton {
    color: white;
    background-color: #211A09;
    border-radius: 20px;
    margin-left: 700px;
    margin-top: 50px;
    width: 60px;
}

.cuadro h2 {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 2px;
    background-color: #5e5e5e;
}